---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
        <h3>Assemble the spring</h3>
        The spring steel is prone to rusting if left out - ideally they should be stored away from moisture or under oil. See <a href="custom_parts.html">section on custom parts</a> for details on how to make the spring sheets.<br>
<img src="imgs/spring_a.png" width="500" height="304">
        <br>  <div class="methodblock"> Thoroughly degrease the springs with ethanol or acetone before soldering and gluing.</div>
        <img src="imgs/spring_b.png" width="500" height="361">
        <div class="methodblock"> Bend spring into cone shape and align soldering tabs. Holding it with a hemostat as shown here is a good method.</div>
   
  <div class="methodblock"> Align soldering tabs, make sure the spring is properly aligned at the top and bottom.</div>
  <img src="imgs/spring_c.png" width="500" height="361">
<div class="methodblock">Apply an acid based flux (we use <a href="http://www.mcmaster.com/#7695A4" target="_new">stainless steel flux from McMaster</a>). The flux should immediately remove the discoloration from the oxidation on the spring. Only apply flux where you itend to solder.<em> Acid based flux is dangerous - wear appropriate protective equipment.</em></div>
<img src="imgs/spring_d.png" width="500" height="361">
<div class="methodblock">Solder the spring. Work fast to avoid overheating and breaking the spring. Ideally, dab the joint with a tinned fine tipped iron for only a fraction of a second. Notice how in the example image, no solder ended up flowing under the hemostat because no flux was applied there. <em>Use appropriate ventilation to protect yourself from flux and solder fumes!</em> </div>
 <div class="methodblock">Remove all residual flux with ethanol.</div>
  
 <img src="imgs/spring_e.png" width="500" height="361">
<div class="methodblock">If too much solder is on the spring, it can be removed easily using a razor blade and/or fine sand paper. If possible, don't use desoldering braid or any method that heats up the solder as this will likely mess up the alignment or break the spring.</div>
 

 
    <em>The spring is now ready to be glued onto the drive body.
</p>
    </em></section>
  </div>
</body></html>
