---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
      
      <h3>Attaching EIB to body</h3>

<div class="methodblock">Attach EIB to the drive body with screws and/or epoxy.<br> At the same time, insert fiber/s through the holes in EIB. </div>

<div class="methodblock">If connections of electrodes to the opposing side of the EIB are desired, only glue and/or screw the EIB to the drive body on the higher side (see later step). Also, if this 'criss-cross' pattern of electrodes under the EIB is desired, consider delaying adding the fiber until after loading the electrodes. Otherwise, it will be harder to move the electrodes over to the opposite side of the EIB.</div>

<h3>Gluing fibers to EIB</h3>

<div class="methodblock">
 Position fibers at desired depth, and glue them to the EIB with epoxy. <br>
 Make sure to add epoxy to the top and bottom of the EIB to securely stabilize the ferrule.</div>
 

<div class="methodblock"> Even if no optical fibers are used, gluing an empty 1.25mm optical ferrule or similar piece of metal into the ferrule mounting hole(s) of the EIB provides a convenient way to attach the cap later.</div>


<h3>Loading electrodes</h3>
The following is a adapted standard protocol for electrode loading. 
<br>
See <a href="http://www.jove.com/video/1098/micro-drive-array-for-chronic-in-vivo-recording-tetrode-assembly" target="_new">Nguyen et al. 2009</a> for an in-depth video protocol for electrode loading.<br>
<br>
<div class="methodblock">Load electrodes into the shuttle tubes using ceramic tipped forceps. </div>


<div class="methodblock">Cut each electrode to the desired length with very sharp scissors according to your electrode protocol. If required, make small adjustments to electrode depth, and glue it to the top of shuttle tubes with epoxy. After epoxy is cured, connect the electrode to the EIB using gold pins and/or solder. Document the mapping of channels to drive number and electrode position.</div>
<img src="imgs/top_assymetry.png" width="400" height="244">
<div class="methodblock">
  Make sure that there is enough slack in the electrode wire to allow for the full range of drive motion. The top of the drive body is asymmetric, so that the EIB stands off by ~.6mm from one side of the body when only the higher side is glued and/or screwed to the body. This way, electrodes can be loaded and brought around to the other side of the EIB so that the electrodes run under the EIB and are protected. We have also gotten good results from loading the electrodes to the closest vias in the EIB, but this requires a slightly higher level of care to avoid damaging the wires with the screw driver when lowering drives.</div>


<div class="methodblock"> Attach the uninsulated shield wire to the EIB with gold pins and/or solder. The wire only needs to be long enough to make good contact with the shield cone later.</div>

<div class="methodblock"> Attach the ground wire to the EIB with gold pins and/or solder. The ground wire should extend to the bottom of the drive with enough free length to reach the desired ground site during the implant surgery. Make sure the ground wire is routed along one of the sides of the drive so that it doesn't interfere with lowering the drives later.</div>
  
  
  <strong><br>
  </strong><br>



   </section>
  </div>
</body></html>
