---
layout: default
title: flexDrive
---

<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>

<img src="imgs/drive_overview.png" width="400" height="338">
 <h3>Drive body assembly</h3>
In this step, the electrode guide tube array and the spring are attached to the drive body. <br>
Next, individual guide tubes and arms of the spring are assembled into the drive mechanisms.
<p><img src="imgs/drivebody_cutaway.png" width="200" height="233">

<div class="methodblock"> Clean printed drive body: check for extra plastic on the inside fins and guides</div>
<div class="methodblock"> Depending on the quality of the 3d-print, finish the screw holes with #77 drill. Be careful to drill out the holes at the correct angle - with lower quality prints it is pretty easy to break through the inner wall of the drive body rim.</div>

 <img src="imgs/tapping_tool.png" width="500" height="93">
<div class="methodblock">Carefully ‘tap’ screw holes by screwing a drive screw all the way in, and removing it from each hole. To speed up this step, solder a screw to a piece of metal to use as
handle.<br></div>


<div class="methodblock">Clean off plastic dust with water or ethanol, be careful when using ethanol as it will weaken the plastic when exposed for too long. </div>

<img src="imgs/spring_align.png" width="400" height="377">
<div class="methodblock">Align the spring with the sides of the drive body (the small protrusions on the drive body should fit into the cutouts on the solder tabs of the spring). Glue the spring to the drive body using epoxy both at the sides and around the bottom of the drive at the radial slot cutouts in the spring. Make sure the bottom and sides are making full contact to the drive body and let epoxy cure fully before bending the
  spring arms. Placing the spring arms under screws while the epoxy still has even minimal creep can detach the spring.</div>

<img src="imgs/align_array.png" width="500" height="428">
<div class="methodblock">Glue guide tube assembly into drive bottom with epoxy, make sure the guide
  tubes are aligned. For most applications the tubes should be parallel to the main axis
  of the drive, but deviations of up to 15deg. are possible if desired. </div>


<div class="methodblock"> Cut the guide tube assembly about 5mm from the drive bottom using a fresh
razor blade. The length of the protruding guide tubes can be chosen to fit the
experimental design: Longer lengths increase visibility during the implant surgery
and are useful in order to leave space for head posts etc., but shorter lengths lower
the center of gravity on the head. If longer lengths are desired, make sure that a coat of epoxy extends all the way to the bottom, keeping the guide tubes in alignment.<br> For lateral targets, it might make sense to cut the guide tube array at an angle corresponding to the angle of the skull at the site.</div>
<img src="imgs/drivebottom.png" width="400" height="204">
<div class="methodblock">Inspect the bottom of the guide tube array and check for any defects. Also document the position of the guide tubes so that the electrode positions can be reconstructed with better precision later on.</div>

<img src="imgs/drive_assembly.png" width="550" height="260">
<div class="methodblock"> Move guide tubes into the row of slots at the insider perimeter of the drive body. Make sure to keep the tubes as straight as possible.</div>

<div class="methodblock">Hold guide tubes in place by sliding short pieces of 26ga polyimide tube over the
guide tube (also called 'stabilizer tube').</div>

<div class="methodblock"> Glue guide tubes into place with thin layer of epoxy.</div>

  <p><img src="imgs/drive_mechanism_closeup.png" ></p>

<div class="methodblock"> (optional) Map out the relationship between guide tubes at the drive bottom and the drives by inserting a thin wire into the guide tubes one at a time.</div>

<div class="methodblock">Cut the guide tubes so that they extend about 1 mm above the rim of the driv body.</div>

<div class="methodblock">Screw in the screws about half way, and bend and slide the spring arms under the screw heads.</div>

 <div class="methodblock">Cut 16 pieces of 37 or 38 ga polyimide tubing to ~2cm to make the shuttle tubes.</div>
<div class="methodblock">Insert shuttle tubes into guide tubes so that they are inserted ~1mm at the most retracted position.</div>
<div class="methodblock"> Glue shuttle tube to spring arm, use two layers of epoxy for added stability.</div>
<div class="methodblock">Cut the shuttle tubes tubes a few mm upwards from where they meet the springs.</div>

<em>If no optical fiber is used, the drive is now ready for attaching the EIB and electrode loading. </em><br>

<br>
 <h3>Optical fibers</h3>
<div class="methodblock">Cleave optical fiber to desired length, attach to ferrule and polish both ends.</div>

<div class="methodblock">(optional) cut a groove into the ferrule using a high-speed cutting wheel to improve adhesion of epoxy. </div>

<div class="methodblock">(or - if using fiber stubs with prepared ferrules), cut to length and polish bottom end. </div>

<div class="methodblock">Insert optical fibers into openings in the guide tube array, don’t glue them yet. The fibers are only held by attaching them to the EIB.</div>


<em>The drive is now ready for attaching the EIB and electrode loading.</em><br>


 
   </section>
  </div>
</body></html>
