---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>


        <h3>Building the guide tube array layer-by-layer:</h3>
          By building the array of guide tubes with this layer-wise method, large and consistent elongated arrays can be built. For multi-site implants, it may be easier to modify the drive body design with multiple bottom openings and use multiple smaller guide tube arrays instead of one big one.<br>
        
        
       

          <img src="imgs/guide_array_a.png" width="500" height="119">
        <div class="methodblock">Cut 16 (or fewer) segments of 33ga polyimide tubes to around 6 cm length. This size of polyimide tube results in average electrode pitches of ~250 micron, though electrodes are free to move within its guide tube.</div>
        <img src="imgs/guide_array_b.png" width="500" height="128">
<div class="methodblock">Glue the guide tubes into rows with superglue and arrange rows to form
  linear arrays</div>

 <div class="methodblock">Make sure that no glue gets into the tubes, and that the tubes are free from glue
above a consistent depth so they are free to fan out at that depth.</div>
   
   <img src="imgs/guide_array_c.png" width="500" height="113">
   <div class="methodblock">For guide tubes that are not supported by a layer of tubes from below add shorter lengths of tubing to prop them up. </div>
<div class="methodblock">To add a fiber to the array later, coat a piece of fiber or a steel cannula of the
  same diameter with mineral oil, and arrange into array like a guide tube. This will function as a place holder. Make sure that the type and amount of oil works for ensuring that the cannula can later be removed - test this first to avoid destroying a guide tube array.</div>
 

<div class="methodblock"> Alternative: If permitted by the spatial layout of the guide tube array, an additional polyimide tube can be used to house optical fibers instead of using a place holder that is removed after gluing. For 125micron fibers, an additional 33ga tube works well, for other diameters larger tubing has to be used.  </div>
   
   <img src="imgs/guide_array_d.png" width="500" height="94">
<div class="methodblock">After the polyimide tubes are arranged into the desired pattern, fix them with a
  thin layer of epoxy. </div>


<img src="imgs/guide_array_e.png" width="500" height="94">
<div class="methodblock">After the epoxy has cured, carefully remove the placeholder for the fiber. </div>


        <p><em>The guide tube array is now ready to be added to the drive body </em>                
        <p>                <br>




       <h3>Alternative: Building the array by arranging guide tubes in a cannula </h3>
          For implants that don't require elongated electrode arrays, this method can be faster to build.<br>
              <img src="imgs/guide_array_a.png" width="500" height="119">
        <div class="methodblock">Cut 16(or fewer) segments of 33ga polyimide tubes to around 6 cm length</div>
         <div class="methodblock">Cut a piece of large diameter polyimide tubing (we use 22ga) or steel cannula to the desired length (We use ~6mm for relatively medial cortical implants where the drive can be placed close to the skull - requirements will vary depending on the protocol). If using steel, make sure that there are no sharp edges left on the cannula after cutting.</div>
         
        <img src="imgs/guide_array_cannula_b.png" width="400" height="96">
<div class="methodblock">Bundle the tubes into  the larger polyimide tube or steel
  cannula by adding more tubes one at a time and gently rearranging them. </div>
  <div class="methodblock">To add a fiber to the array later, coat a piece of fiber or a steel cannula of the
  same diameter with mineral oil, and arrange into array like a guide tube. This will function as a place holder. Make sure that the type and amount of oil works for ensuring that the cannula can later be removed - test this first to avoid destroying a guide tube array.</div>
  
  <div class="methodblock"> Alternative: If permitted by the spatial layout of the guide tube array, an additional polyimide tube can be used to house optical fibers instead of using a place holder that is removed after gluing. For 125micron fibers, an additional 33ga tube works well, for other diameters larger tubing has to be used.  </div>
  
  <img src="imgs/guide_array_cannula_c.png" width="400" height="68">
  <div class="methodblock">Glue the guide tubes to each other and to the cannula using superglue. Make sure no glue is sucked up to the upper end of the cannulae by capilary action, otherwise the guide tubes won't be able to fan out in the drive body.</div>
  
  <img src="imgs/guide_array_cannula_e.png" width="400" height="74"> 
    <div class="methodblock">Stabilize the polyimide tubes with a thin layer of epoxy so they stay in place when cut later.</div>
  
    <img src="imgs/guide_array_cannula_f.png" width="400" height="86"> 
    <div class="methodblock">After the epoxy has cured, carefully remove the placeholder for the fiber. </div>
    <em>The guide tube array is now ready to be added to the drive body
</p>
    </em></section>
  </div>
</body></html>
