---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
        <h3>Contribute your designs and insights</h3>
        <p>If you're using the flexDrive design or a similar implant, it is likely that you have discovered procedures that could be helpful to others.<br>
          <br>
          If so, please <a href="contact.html">get in touch</a> so we can add your insights to the protocol.<br><br>
	  Similarly, if you are using other sources for the materials or tools, especially if you're outside the US, please let us know so we can include your sources. This also concerns the materials and tools that are not specified in metric units, such drills and tubing.  <br><br>	

          If you're interested in helping to improve the design or methods described here, or have ported the source files to other file formats, have a look at the <a href="https://github.com/open-ephys/flexDrive">github repository</a> and create new branches of the source files and upload your designs.<br><br>If you're new to git, <a gref="http://gitref.org/">here's an introduction</a>.<br><br>


      </section>
  </div>
</body></html>
