---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
        <h3>Contact</h3>
        <p>Get in touch at <a href="mailto:jvoigts@mit.edu">jvoigts@mit.edu</a>. <br> 

          <br>
          Contact us if you have suggestions or problems with the design, so we can keep a list of open issues in order to improve later revisions.<br><br>

          If you're interested in helping to improve the design or methods described here, feel free to explore the <a href="https://github.com/open-ephys/flexDrive">github repository</a> and create new branches of the source files.<br><br>

        If your protocol for drive fabrication deviates from the one described here, please send us a brief description of your methods so we can expand the protocol with variants that better suit different applications of the drive.</p> <br>
        <p>If you're using the design, please cite our paper:
        <br> <br>
        <strong>Voigts J, Siegle JH, Pritchett DL and Moore CI (2013).<br> The flexDrive: An ultra-light implant for optical control and highly parallel chronic recording of neuronal ensembles in freely moving mice. Front. Syst. Neurosci. 7:8. doi: 10.3389/fnsys.2013.00008</strong><br>
        </p>
      </section>
  </div>
</body></html>
