---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
        <p><img src="imgs/file_logo.png" width="230" height="288">
        </p>
        <p>You can directly download the latest revision of the main flexDrive repository here - this archive will always reflect the latest changes made to the reference design on GitHub.</p>
         
         <ul>
          <li><a href="https://github.com/open-ephys/flexDrive/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/open-ephys/flexDrive/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/open-ephys/flexDrive">View On <strong>GitHub</strong></a></li>
        </ul>
      
      If you are looking for a variant of the design that is not in the main branch of the repository, or want to download an older revision or contribute modifications and improvements, you can find all files on our <a href="https://github.com/open-ephys/flexDrive">GitHub project page</a>.</section>
      
  </div>
</body></html>
