---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
      <img src="imgs/drivebody_cutaway.png" width="200" height="233"> <br>
          <h3>Drive body</h3>
In the flexDrive, the array of electrode  guide tubes is attached to a plastic drive body that is manufactured from an ABS-like material using stereolitography. This drive body supports all components of the drive and facilitates fast and precise assembly. While most components are eventually fixed with an epoxy glue, the design features ‘snap-fit’ grooves, facilitating the alignment of the guide tubes and the spring. By customizing the locations of the guide tubes in the Solidworks file for the drive body, precise targeting of separate recording sites are readily achieved.<br>
        
      </section>
  </div>
</body></html>
