---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
        <p><img src="imgs/features_mouse.png" width="300" height="305"></p>
        <p><strong>Low weight</strong> The flexDrive weighs ~2g, so there is minimal impact on animal behaviour, and the drive can be positioned flexibly for targeting of lateral or frontal areas.</p>
       <img src="imgs/festures_units.png" width="400" height="401">
        <p><strong>Individually moveable electrodes</strong> significantly increase the longevity of implants and make it possible to record from identified single units.</p>
        <p><strong><img src="imgs/features_trn.png" width="550" height="245"><br>
        High channel count </strong>The flexDrive supports 16 individual drives and up to 64 channels. This enables simultaneous recordings of single units from multiple distributed brain areas.</p>
      </section>
  </div>
</body></html>
