---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section><img src="imgs/opener_big.png" width="483" height="507">
        <p>The <em>flexDrive</em> is an implant  for chronic extracellular electrophysiology.</p>
        <p>The design is  miniaturized yet simple and can be used to independently position 16 electrodes with up to 64 channels in a package that
          weighs approximately 2g. The device is easy to
          build and accommodates arbitrary spatial arrangements of electrodes. Multiple optical fibers
          can be integrated into the recording array and independently manipulated in depth. The design enables precise optogenetic control and highly parallel chronic recordings
          of identified single neurons throughout neural circuits in animals as small as mice.  </p>
      </section>
  </div>
</body></html>
