---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
<strong>Custom parts</strong><br>
          see <a href="custom_parts.html">section on custom parts</a> for details. <br>Where provided, companies and links to websites indicate sources that we have used before. They do not neccessarily represent the best sources, especially outside the U.S.<br><br>

        <div class="methodblock">
             16x Drive screws<br>
(custom M0.6x7mm from Antrin Miniature Specialties, Inc.)</div>
        <div class="methodblock">Drive body <br>
        (3D printed, ABS like plastic)</div>
          <div class="methodblock"> Steel spring <br>
          (1095 spring steel, 0.002”, machined with wire EDM)</div>
        <div class="methodblock"> Electrode interface board (EIB) (<a href="http://neuralynx.com/products/electrode_interface_boards/" target="_new">Neuralynx</a>, or custom PCB)</div>

          <br>
          <strong> Shielding / Enclosure </strong>
          <br>
          see <a href="build_shielding_cap.html">section on shielding</a> for details<br><br>
<div class="methodblock">Overhead projector transparencies</div>
        <div class="methodblock">Aluminum foil <br>
        (for making the shielding & Cap, templates available online)</div>
        <div class="methodblock">Cap from optic fiber ferrule <br>
          (for attaching drive cap to drive - from <a href="http://www.precisionfiberproducts.com/PFP-1.25mm-Ferrule-Dust-Cap-Cover.html" target="_new">Precision Fiber Products</a>
          <t>
        )</div>
        <div class="methodblock">Steel wire for grounding <br>
        (Stainless Steel, PFA coating, ~0.003", <a href="http://www.a-msystems.com/v-26-stainless-steel.aspx" target="_new">A-M Systems</a>)</div>
        <div class="methodblock">32x Gold pins (<a href="http://neuralynx.com/products/electrode_interface_boards/eib_pins" target="_new">Neuralynx</a>)</div>
          
          <strong><br>
          Connectors </strong><br>
        <div class="methodblock">2x Amplifier connectors (Omnetics or Molex)
        or any other custom connector, depending on the choice of EIB</div>
        
        <strong><br>
        Polyimide tubing </strong><br/>
        We usually buy from <a href="http://www.amazonsupply.com" target="_new">Smallparts</a><br><br>
        <div class="methodblock">Shuttle tubes - 37 or 38 gauge </div>
        <div class="methodblock">Guide tubes -  33 gauge</div>
        <div class="methodblock">Stabilizer tubes- 26-28 gauge </div>
        <div class="methodblock">Additional polyimide tubing for holding drive bottom assembly <br>
          (for example 22 and 21ga) <br>
         or stainless steel cannula depending on drive bottom layout </div>
         
         <strong><br>
         Optical fibers</strong>
        <div class="methodblock">Optical fiber, 125, 200 or 300μ core diameter (<a href="http://www.thorlabs.com/navigation.cfm?guide_id=2284" target="_new">Thorlabs</a>) </div>
         <div class="methodblock">1.25mm OD multimode ferrule connector <br>
           (steel or ceramic,<a href="http://www.precisionfiberproducts.com/PFP-LC-1-point-25mm-OD-Multimode-Ceramic-Zirconia-Ferrules.html" target="_new"> Precision Fiber Products</a>) <br>
           of inner diameter matched to 
         the desired optical fiber</div>
         <div class="methodblock">Fiber polishing supplies </div>
        <div class="methodblock">Alternatively: Ready to use fiber ferrule (for examples see <a href="http://www.doriclenses.com/produits/210.html" target="_new">Doric lenses</a>, <a href="http://www.plexon.com/products/plexbright%E2%84%A2-optical-patch-cables-and-fiber-stub-implants" target="_new">Plexon</a> or <a href="http://www.thorlabs.com/navigation.cfm?guide_id=2256" target="_new">Thorlabs</a>) </div>
        
        <strong><br>
        Electrodes </strong><br>
        Follow existing protocols for tetrode or stereotrode fabrication<br>
(<a href="http://www.jove.com/video/1098/micro-drive-array-for-chronic-in-vivo-recording-tetrode-assembly" target="_new">Nguyen et al. 2009</a>)
        
        <br>
        <br>
        <strong>        Glue</strong>
        <div class="methodblock">Cyanoacrylate super glue (medium viscosity) </div>
         <div class="methodblock">Epoxy  (2 component, 5 minute epoxy) </div>
        <div class="methodblock">Conductive epoxy  for connecting ground wire to drive cone </div>
       
        <strong><br>
        Tools</strong>
        <div class="methodblock"> Ceramic tipped forceps (Dumont A275B, <a href="http://www.finescience.com/Special-Pages/Products.aspx?ProductId=346&CategoryId=29" target="_new">FST</a>) </div>
         <div class="methodblock">Serrated scissors (<a href="http://www.finescience.com/Special-Pages/Products.aspx?ProductId=45&CategoryId=17" target="_new">FST</a>)</div>
         <div class="methodblock">Dumont #5 Forceps (<a href="http://www.finescience.com/Special-Pages/Products.aspx?ProductId=335&CategoryId=29" target="_new">FST</a>)</div>
         <div class="methodblock">Measuring calipers </div>
         <div class="methodblock">Alligator clip stand for holding drive during assembly </div>
         <div class="methodblock">Screwdriver for M0.6 screws <br>
         (can be modified with guide cannula to prevent slipping) </div>
         <div class="methodblock">Razorblades </div>
         <div class="methodblock">Fine  sandpaper (~400 grit) </div>
         <div class="methodblock">Small sharp scissors for cutting polyimide tubes </div>
         <div class="methodblock">2 hemostats for holding the springs while soldering </div>
         <div class="methodblock">Wire cutter for ground wires </div>
         <div class="methodblock">Needle nose pliers for inserting gold pins </div>
         <div class="methodblock">Soldering Iron (w/ solder, <a href="http://www.mcmaster.com/#7695A4" target="_new">acid based flux</a>, etc suitable for soldering stainless steel) </div>
         <div class="methodblock">Drill bit (#77) and pin vise </div>
         <div class="methodblock">Tapping tool made from drive screw soldered to a metal cannula to act as handle (See build protocol for details).</div>

</section>
  </div>
</body></html>
