---
layout: default
title: flexDrive
---
<html><head>
      {% include htmlhead.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
       {% include header.html %}
      </header>
      <section>
       
        <img src="imgs/variant_small_pitch.png" width="500" height="480">    <br>
<h3>Variant for smaller electrode pitches</h3>
  <p>      A variant of the flexDrive design replaces the 33ga guide tubes with smaller 37 or 38ga tubes. This results in a closes spacing of electrodes of ~125micron instead of ~250micron.</p>
        <p>To build this drive variant, replace one or more of the 33ga guide tubes with 37 or 38ga tubes, and glue the guide tube in place as in the regular protocol. Care has to be taken not to allow any epoxy into the stabilizer tube, or between stabilizer and guide tube. Instead of inserting the (smaller) shuttle tube into the guide tube, a (larger) 33ga tube takes on the role of the shuttle and it placed over the guide tube, between the guide and the stabilizer tube. Now, the electrode is inserted into the guide tube and glued to the top of the shuttle tube. This way, the shuttle tube pushes the electrode down through the 37 or 38ga guide tube without the support of a shuttle tube extending to the bottom of the drive. </p>
        <p>However, tests that we conducted with dense electrode arrays
          of pitches of 125 μm failed to yield usable recordings, possibly due to an increased 
        inflammatory response. It is possible though that the design works well for targeting many electrodes to small, deep targets or for distributed multi-site arrays.</p>
</section>
  </div>
</body></html>
