       <a href="index.html"> <h1>flexDrive</h1></a>
        <div class="headerblock">An ultra-light implant for optical control and highly
parallel chronic recording of neuronal ensembles in freely moving mice.</div>
	<div class="headerblock">
        <p><strong><a href="#">Get the manuscript@</a></strong><br>
        <a href="contact.html">Contact</a><br>
          <a href="users.html">Users&amp;Publications</a><br>
	<br>
        <a href="contribute.html"><span class="contribute"><strong>Contribute</strong></span></a>
	</div>

	<div class="headerblock">
          <strong> Design</strong><br>
          <a href="features.html">Features</a><br>
          <a href="electrode_array.html">Electrode array</a><br>
          <a href="drive_body_design.html">Drive body</a><br>
          <a href="drive_mechanism_design.html">Drive mechanism</a><br>
          <a href="EIB_design.html">EIB</a><br>
        </div>


	<div class="headerblock">
          <strong>Materials</strong><br>
        <strong><a href="download.html">Download source files</a></strong><br>
        <a href="materials_overview.html">Parts&Tools</a><br>
        <a href="custom_parts.html">Custom Parts</a><br>
        </div>


	<div class="headerblock">
          <strong>Build </strong><br>
        <a href="build_electrode_array.html">Guide tube array</a><br>
        <a href="build_spring.html">Spring assembly</a><br>
        <a href="build_drive_assembly.html">Drive assembly</a><br>
        <a href="build_eib.html">EIB fabrication</a><br>
        <a href="build_electrode_loading.html">Electrode loading</a><br>
        <a href="build_shield_cap.html">Shielding</a><br>
        <a href="build_implant.html">Implant protocol</a><br>
	</div>

	<div class="headerblock">
        <strong>Variants</strong><br>
        <a href="variant_multisite.html">Multi-site implants</a><br>
        <a href="variant_smallpitches.html">Smaller electrode pitches</a><br>
	<a href="variant_moveable_fibers.html">Movable fibers</a><br>
	</div>
</p>

<BR>
<div class="headerblock">
        <small>This project is maintained <br>by <a href="http://www.mit.edu/~jvoigts" target="_new">Jakob Voigts</a> <br>Find other open source tools<br> at <a target="_new" href="https://github.com/open-ephys">Open-Ephys</a></small></small>
</div>
<script type="text/javascript"> 
window.onload = function() {
dynamicLayout();
};
</script>
