       <a href="index.php"> <h1>flexDrive</h1></a>
        <div class="headerblock">An ultra-light open-source implant for optical control and
high volume parallel recording of neuronal ensembles in
freely moving mice.</div>
	<div class="headerblock">
        <p><strong><a href="#">Get the manuscript@</a></strong><br>
        <a href="contact.php">Contact</a><br>
          <a href="users.php">Users&amp;Publications</a><br>
	<br>
        <a href="contribute.php"><span class="contribute"><strong>Contribute</strong></span></a>
	</div>

	<div class="headerblock">
          <strong> Design</strong><br>
          <a href="features.php">Features</a><br>
          <a href="electrode_array.php">Electrode array</a><br>
          <a href="drive_body_design.php">Drive body</a><br>
          <a href="drive_mechanism_design.php">Drive mechanism</a><br>
          <a href="EIB_design.php">EIB</a><br>
        </div>


	<div class="headerblock">
          <strong>Materials</strong><br>
        <strong><a href="download.php">Download source files</a></strong><br>
        <a href="materials_overview.php">Parts&Tools</a><br>
        <a href="custom_parts.php">Custom Parts</a><br>
        </div>


	<div class="headerblock">
          <strong>Build </strong><br>
        <a href="build_electrode_array.php">Guide tube array</a><br>
        <a href="build_spring.php">Spring assembly</a><br>
        <a href="build_drive_assembly.php">Drive assembly</a><br>
        <a href="build_eib.php">EIB fabrication</a><br>
        <a href="build_electrode_loading.php">Electrode loading</a><br>
        <a href="build_shield_cap.php">Shielding</a><br>
        <a href="build_implant.php">Implant protocol</a><br>
	</div>

	<div class="headerblock">
        <strong>Variants</strong><br>
        <a href="variant_multisite.php">Multi-site implants</a><br>
        <a href="variant_smallpitches.php">Smaller electrode pitches</a><br>
	<a href="variant_moveable_fibers.php">Movable fibers</a><br>
	</div>
</p>

<BR>
<div class="headerblock">
        <small>This project is maintained <br>by <a href="http://www.mit.edu/~jvoigts" target="_new">Jakob Voigts</a> <br>Find other open source tools<br> at <a target="_new" href="https://github.com/open-ephys">Open-Ephys</a></small></small>
</div>
<script type="text/javascript"> 
window.onload = function() {
dynamicLayout();
};
</script>
