**************************************************************
*                                                            *
* DRILL TAPE SUMMARY REPORT                                  *
*                                                            *
* Z:\PROJECTEN\6050 FLEX DRIVE MASTER\PCB\130120\130120.MAX  *
* Mon Aug 11 14:36:32 2014                                   *
*                                                            *
**************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       59       31       200      100                                                                                 
T2       118      76       200      100                                                                                 
T3       276      2        200      100                                                                                 
T4       472      2        200      100                                                                                 
